<h1>Bikes</h1>


<div class="bikes">
  <div class="bikes-cards">
    <% @bikes.each do |bike| %>
      <div class="bike-card">
        <div class="bike-image">
          <%= cl_image_tag(bike.image) %>
        </div>
        <div class="bike-content">
          <h2><%= bike.name %></h2>
          <p><%= bike.description %></p>
          <p>£<%= bike.price_per_day.to_i %></p>
          <p><%= bike.location %></p>
          <button class="btn btn-success"><%= link_to 'Rent' %></button>
        </div>
      </div>
    <% end %>
  </div>
  <div class="bikes-map">
    <div
      id="map"
      style="width: 100%;
      height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
  </div>
</div>

