<h1>Search Results</h1>

<%= @bikes.each do %>

<div class="card-product">
  <%= image_tag src="FatBike" %>
  <div class="card-product-infos">
    <h2>Fat Bike</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>

<div class="card-product">
   <%= image_tag src="LivWomen'sRoadbike" %>
  <div class="card-product-info">
    <h2>Liv Women's Road Bike</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>

<div class="card-product">
  <%= image_tag src="NorcoMountainBike" %>
  <div class="card-product-infos">
    <h2>Norco Mountain Bike</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>

<div class="card-product">
  <%= image_tag src="PeugeotFixie" %>
  <div class="card-product-infos">
    <h2>Peugeot Fixie</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>

<div class="card-product">
  <%= image_tag src="Red_Cruiser" %>
  <div class="card-product-infos">
    <h2>Cruiser</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>

<div class="card-product">
  <%= image_tag src="ShimanoRoadBike" %>
  <div class="card-product-infos">
    <h2>Shimano Road Bike</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>

<div class="card-product">
    <%= image_tag src="StepThroughCruiser" %>
    <div class="card-product-infos">
    <h2>Step Through Cruiser</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>
<div class="card-product">
  <%= image_tag src="white_bianchi" %>
  <div class="card-product-infos">
    <h2>White Bianchi</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>


